__pycache__/
*.py[cod]
*$py.class


venv/
.env/
.venv/


.env
.env.*


*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/


staticfiles/


*.pt
*.pth
*.ckpt
runs/
logs/
checkpoints/


.ipynb_checkpoints


.vscode/
.idea/


.DS_Store
Thumbs.db


.coverage
htmlcov/
.pytest_cache/


*.swp