{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="navbar">
    <span> I love my cats </span>
</div>
<div id = "post-list">
    <h1> Post List </h1>
        <ul class="posts">
            {% for post in posts %}
            <li class="post">
                <a href="/detail/{{ post.id }}"> {{post.title}} </a>
            <ul class="comments">
                {% for comment in post.comment_set.all %}
            <li class="comment"> {{ comment.content }}</li>
                {% empty %}
            <li class="comment-empty"> 아직댓글이 없습니다.</li>
                {% endfor %}
            </ul>
                {% if post.thumbnail %}
                <img src="{{ post.thumbnail.url }}" alt ="">
                {% else %}
                <img src="" slt="">
                {% endif %}
            </li>
            {% endfor %}
        </ul>

</div>
</body>
</html>