{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="navbar">
    <span> I love my cats </span>
    <a href="/post_add/" class="btn btn-primary">글작성</a>
</div>
<div id = "post-list">
    <h1> Post List </h1>
        <ul class="posts">
            {% for post in posts %}
            <li class="post">
                <a href="/detail/{{ post.id }}"> {{post.title}} </a>
            <ul class="comments">
                {% for comment in post.comment_set.all %}
            <li class="comment"> {{ comment.content }}</li>
                {% empty %}
            <li class="comment-empty"> 아직댓글이 없습니다.</li>
                {% endfor %}
            </ul>
                {% if post.thumbnail %}
                <img src="{{ post.thumbnail.url }}" alt ="">
                {% else %}
                <img src="" slt="">
                {% endif %}
            </li>
            {% endfor %}
        </ul>
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1">처음</a>
        <a href="?page={{ page_obj.previous_page_number }}">이전</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
        <strong>{{ num }}</strong>
    {% else %}
        <a href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">다음</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">마지막</a>
    {% endif %}
</div>
</div>
</body>
</html>